body{
    background-image: url(./bg.png);
    background-size:cover;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.col2{
    padding: 1em;
    flex-grow: 1;
}
.buttons{
    padding-top: 1em;
    display: flex;
    gap: 1em;
}
form{
    padding: 1em;
    margin-top: 5%;
    background-color: #fc4c4c;
    color: white;
}
.button{
    border : none
}
.button a{
    text-decoration: none;
    color: #fc4c4c;
}
svg{
    display: flex;
    height:10em;
    margin-top: 20px;
    background-color: rgb(255, 255, 255,0.8);
    padding: 1em;
    border-radius: 2em;
}
/* @media (max-width: 768px){
    svg{
        margin-left: 27.5%;
    }
} */